node_modules
build
/data
log
v2
*.orig
run_bearer.sh
t
scripts/start.sh
scripts/log*
scripts/standings
*~
k8s/*secret*
k8s/ingress-apply.sh
k8s/apply-ingress.sh
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions