@media (min-width: 768px) {
body {
    padding-top: 50px;
}
}
@media (max-width: 768px) {
.navbar-fixed-top, .navbar-fixed-bottom {
    position: relative !important;
}
}
.panel-heading a {
    cursor: pointer;
}
