.epigraph {
    width:100%;
    text-align:right;
    margin-bottom:2ex;
    font-style: italic;
    white-space: pre-line;
}
.problemList {
    margin-top: 1ex;
    margin-bottom: 1ex;
}
.bigText {
    font-size: 16px;
}