.stars {
    font-size: 200%;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}
.paid {
    background: #ccffcc;
}
.unpaid {
    background: #ffffcc;
}
.muchUnpaid {
    background: #ffcccc
}
.nonpaid {
    background: white;
}