.footer {
    width: 100%;
    background-color: #f5f5f5;
    padding-top: 10px;
    padding-bottom: 10px;
}
.right {
    text-align: right;
}
.wrapper {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}
.main {
  flex: 1;
}
