.toggling {
    cursor: hand;
}
.pre {
    overflow: scroll;
}
.td {
    /* strange hack */
    max-width: 10px;
}
.stickyHeader {
    position: sticky;
    top: 0px;
    z-index: 100;
}

#diffEditor {}