.toggling {
    cursor: hand;
}
.pre {
    overflow: scroll;
}
.td {
    /* strange hack */
    max-width: 10px;
}
.stickyHeader {
    position: sticky;
    top: 0px;
    z-index: 100;
}

#diffEditor {}

.ok {
    background: #b9ffb9 !important;
}
.wa {
    background: #ffb9b9 !important;
}
.tl {
    background: #b9b9ff !important;
}