.res {
    font-family: monospace;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.full {
    background: #00dd00;
}
.done {
    background: #009900;
}
.started {
    background: #cccccc;
}
.none {
}
.subtableHeader {
    white-space: normal;
}
.subFindMistakes {
    font-size: 6;
    position: absolute;
    right: 0px;
    bottom: 0px;
}